static/js/jmol
node_modules
.DS_Store
.vscode
.ipynb_checkpoints
__pycache__
python_supp.ipynb
package-lock.json
package.json
static/css/molstar.css
static/js/molstar.js
static/data/all_bs_ress_v2_08_2023.pkl
static/data/bss_data.pkl
