#static/js/jmol
node_modules
.DS_Store
.vscode
.ipynb_checkpoints
__pycache__
python_supp.ipynb
package-lock.json
package.json

static/data/example/
static/data/biolip/split/site_tables_no_RSA/
static/data/biolip/15000accs/

static/data/biolip/split/bs_ress_dicts/*
!static/data/biolip/split/bs_ress_dicts/P00517_bs_ress.pkl

static/data/biolip/split/entry_names/*
!static/data/biolip/split/entry_names/P00517_name.pkl

static/data/biolip/split/mappings/up2pdb/*
!static/data/biolip/split/mappings/up2pdb/3ag9_A_up2pdb_mapping.pkl

static/data/biolip/split/mappings/pdb2up/*
!static/data/biolip/split/mappings/pdb2up/3ag9_A_pdb2up_mapping.pkl

static/data/biolip/split/res_tables/*
!static/data/biolip/split/res_tables/P00517_1_ress.pkl

static/data/biolip/split/segment_rep_dicts/*
!static/data/biolip/split/segment_rep_dicts/P00517_segs_rep_strucs.pkl

static/data/biolip/split/site_tables/*
!static/data/biolip/split/site_tables/P00517_bss.pkl

static/data/biolip/split/structures/cif/*
!static/data/biolip/split/structures/cif/3ag9_A.cif

static/data/biolip/split/structures/pdb/

static/data/biolip/split/sum_stats/*
!static/data/biolip/split/sum_stats/P00517_1_stats.pkl
