.footer-container {
    display: flex;
    justify-content: space-between; /* This will distribute the images equidistantly */
    align-items: center;             /* This will ensure the images are vertically centered */
    padding: 0 10px;                 /* Optional: This will ensure there's some space at the edges */
}

.footer-container img {
    /* width: 30%;  */
    height: 150px;  /* Set the height in pixels as you desire */
    object-fit: cover; /* Ensures images resize and center within the dimensions without distortion */
    box-sizing: border-box; 
}