header{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}
.container {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* flex: 1; */
}

h2 {
    margin-top: 0.5rem;
}

p {
    margin-top: 1em;
    margin-bottom: 0;
    text-align: justify;
}

.home {
    /* padding: 15px 15px; */
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* margin: 0; */
}

main {
    /* padding-top:1em; */
    /* padding-bottom:1em; */
    flex-grow: 1;
}

/* footer {
    padding-top:0;
    padding-bottom:1em;
} */


a {
    color: #428bca;
    text-decoration: none
}

a:hover,a:focus {
    color: #2a6496;
    text-decoration: none
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}


.purple-link {
    color: #734A98;
}

.purple-link:hover {
    color: #a067d2
}

.nav-link:hover {
    text-decoration: none;
    font-weight: bold;
}

.key-concept {
    font-weight: 600;
}

strong {
    font-weight: 800;
    font-size: 20px;
}

.btn-primary {
    --bs-btn-bg: #734A98;
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: #a067d2;
    --bs-btn-hover-border-color: black;
}

.highlighted-row {
    --bs-table-bg: #ffff99;
    font-weight: bold;
}

.clicked-row {
    --bs-table-bg: #bfd4cb;
    font-weight: bold;
}

/* #bs_ress_table {
    display: none;
} */

.flex-container {
    display: flex;
    align-items: stretch;
    padding: 10px;        /* Space between the container edge and the items */
    margin: 10px;         /* Space around the entire container */
    box-sizing: border-box; /* Ensures that padding and border are included in the container's total width and height */
    justify-content: space-between;
    column-gap: 5px;
}

.big-item {
    width: 700px;
    height: 700px;
    /* background-color: #E57373; */
    border: 3px solid #734A98;
    border-radius: 6.25px;
}

.item {
    height: 367.5px;
    border: 3px solid #734A98;
    border-radius: 6.25px;
}

.small-item-wide {
    /* width: 700px; */
    position: relative;
}

.small-item-narrow {
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center; /* Center child elements horizontally */
    align-items: center;  /* Center child elements vertically */
    /* background-color: #64B5F6; */
}

.scroll-y{
    overflow-y: scroll;
}

.centered-items {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center child elements horizontally */
    align-items: center;  /* Center child elements vertically */
}

.narrow-items, .wide-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* EDITING THE BOOTSTRAP TABLE CSS CLASSES */

.table{
    --bs-table-hover-bg: #ffff99;
}

.table-hover > tbody > tr:hover {
    font-weight: bold;
}

.table-bordered th,
.table-bordered td {
    border: 2px solid black !important;
    text-align: center;
}

.table .custom-row td {
    color: inherit;  /* This makes the table cell text color inherit the row's text color */
}


.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1; 
}

.sticky-header th::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;  /* Shifts the pseudo-element outside of the th */
    height: 3px;
    background-color: black;  /* Border color */
    z-index: 2;
    box-sizing: border-box;  /* Ensures that height is consistent */
}

.sticky-header th::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;  /* Shifts the pseudo-element outside of the th */
    height: 2px;
    background-color: black;  /* Border color */
    z-index: 2;
    box-sizing: border-box;  /* Ensures that height is consistent */
}




.featurette-divider {
    border-top: 3px solid #734A98;
}

.box {
    border: 5px solid #734A98;
    border-radius: 5px;
    padding: 0px;
}

.box-header {
    margin-left: 0;
    margin-right: 0;
}

.applet-border {
    /* border: 2px solid #000000; */ /* Removed for new 3Dmol.js viewer */
    width: 100%; 
    max-width: 700px;
    max-height: 700px;
    /* height: 100%;  */
    position: relative;
    /* padding-bottom: 100%;  */
}

.navbar-brand {
    margin-right: 0;
}

li {
    text-align: justify;
}

img.responsive {
    max-width: 100%;
    max-height: 60px;
    height: auto;
    width: auto;
}

img.responsive-logo {
    max-width: 100%;
    max-height: 80px;
    height: auto;
    width: auto;
}

.container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;

}

/* #chartCanvas {
    max-height: 446px;
    max-width: 446px;
}

#bss_table {
    max-width: 446px;
} */

.custom-padding {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5)
}

/* For vertical scrollbar */
.table-responsive::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #734A98;
    border-radius: 10px;
    border: 1px solid black;
}

.table-responsive {
    margin-right: 8px;
    margin-bottom: 8px;
}



@font-face {
    font-family: 'PT Root UI';
    src: url('PT-Root-UI_Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('PT-Root-UI_Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/* .border {
    border: 2px solid black;
    width: fit-content;
    margin: 2rem;
    padding: 0.5rem;
}
.sans {
    font-family: sans-serif;
} */
.uniwidthsans {
    font-family: 'PT Root UI', sans-serif;
}
/* .hoverbold {
    font-weight: normal;
}
.hoverbold:hover {
    font-weight: bold;
} */