.container {
    padding-left: 5%;
    padding-right: 5%;
    /* flex: 1; */
}

.home {
    padding: 30px 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    margin: 0;
}

.footer {
    position: sticky;
    bottom: 0;
}

a {
    color: #428bca;
    text-decoration: none
}

a:hover,a:focus {
    color: #2a6496;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}


.purple-link {
    color: #734A98;
}

.purple-link:hover {
    color: #a067d2
}

.nav-link:hover {
    text-decoration: none;
    font-weight: bold;
}

.key-concept {
    font-weight: 600;
}

strong {
    font-weight: 800;
    font-size: 20px;
}

.btn-primary {
    --bs-btn-bg: #734A98;
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: #a067d2;
    --bs-btn-hover-border-color: black;
}

.table__header {
    text-align: center;
}

.table__cell {
    padding: 8px;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

tbody tr:hover {
    background-color: #ffff99;
    font-weight: bold;
}

.highlighted-row {
    background-color: #ffff99; /* or any highlighting style you prefer */
    font-weight: bold;
}

#bs_ress_table {
    display: none; /* Start with table hidden */
}

/* .flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1;
    overflow: auto;

}

.flexbox-item{
    border: 3px solid #333;
    background-color: white;
}

.flexbox-item-1{
    height: 700px;
    width: 900px;
    order: 1;
}

.flexbox-item-2{
    width: 350;
    height: 350px;
    order: 2;
    overflow-y: auto;
    justify-content:center;
}

.flexbox-item-3{
    width: 400px;
    height: 350px;
    order: 4;
}

.flexbox-item-4{
    width: 600px;
    height: 350px;
    order: 5;
}

.flexbox-item-5{
    width: 600px;
    height: 350px;
    order: 3;
    overflow-y: auto;
} */

.flex-container {
    display: flex;
    align-items: stretch;
    padding: 10px;        /* Space between the container edge and the items */
    margin: 10px;         /* Space around the entire container */
    box-sizing: border-box; /* Ensures that padding and border are included in the container's total width and height */
    justify-content: space-between;
    column-gap: 5px;
}

.big-item {
    width: 700px;
    height: 700px;
    /* background-color: #E57373; */
    border: 3px solid #734A98;
    border-radius: 6.25px;
}

.item {
    height: 367.5px;
    border: 3px solid #734A98;
    border-radius: 6.25px;
}

.small-item-wide {
    /* display: flex; */
    width: 700px;
    
    /* background-color: #81C784; */
    /* overflow-y: scroll; */
    
    position: relative;
}

.small-item-narrow {
    width: 400px;
    position: relative;
    display: flex;
    justify-content: center; /* Center child elements horizontally */
    align-items: center;  /* Center child elements vertically */
    /* background-color: #64B5F6; */
}

.scroll-y{
    overflow-y: scroll;
}

.centered-items {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center child elements horizontally */
    align-items: center;  /* Center child elements vertically */
}

.narrow-items, .wide-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
