.container {
    padding-left: 5%;
    padding-right: 5%;
    flex: 1;
}

.home {
    padding: 30px 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    position: sticky;
}

a {
    color: #428bca;
    text-decoration: none
}

a:hover,a:focus {
    color: #2a6496;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}


.purple-link {
    color: #734A98;
}

.purple-link:hover {
    color: #a067d2
}

.nav-link:hover {
    text-decoration: none;
    font-weight: bold;
}

.key-concept {
    font-weight: 600;
}

strong {
    font-weight: 800;
    font-size: 20px;
}

.btn-primary {
    --bs-btn-bg: #734A98;
    --bs-btn-border-color: black;
    --bs-btn-hover-bg: #a067d2;
    --bs-btn-hover-border-color: black;
}

.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.sorttable {
    border-spacing: 0;
    margin: 1rem;
    background-color: #f5f5f5;
}

.table__header {
    text-align: center;
}

.table__cell {
    padding: 8px;
}

th, td {
    border: 1px solid black;
    text-align: center;
}

tbody tr:hover {
    background-color: #ffff99;
    font-weight: bold;
}

.highlighted-row {
    background-color: #ffff99; /* or any highlighting style you prefer */
    font-weight: bold;
}

#bs_ress_table {
    display: none; /* Start with table hidden */
}

/*
#chart-container {
    position: absolute;
}

.axis-dropdown {
    position: absolute;
    z-index: 2; 
}

.x-axis-dropdown {
    left: 17%;  
    bottom: 0;  
    transform: translateX(-50%);  
}

.y-axis-dropdown {
    left: 0;  
    top: 56%; 
    transform: translateY(-50%) rotate(-90deg); 
    transform-origin: left top;  
}

.axis-dropdown2 {
    position: absolute;
    z-index: 2; 

}
.x-axis-dropdown2 {
    left: 34%;  
    bottom: 0;  
    transform: translateX(-50%);  
}

.y-axis-dropdown2 {
    left: 0;  At the left edge of the container
    top: 100%;  
    transform: translateY(-50%) rotate(-90deg); 
    transform-origin: left top;  Sets the origin for the rotation
} */


.flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.flexbox-item{
    margin: 10px;
    border: 3px solid #333;
    background-color: white;
}

.flexbox-item-1{
    width: 600px;
    height: 500px;
    order: 3;
}

.flexbox-item-2{
    width: 400px;
    height: 350px;
    order: 2;
    overflow-y: auto; /* Show scrollbar when content exceeds height */
}

.flexbox-item-3{
    width: 400px;
    height: 350px;
    order: 1;
}

.flexbox-item-4{
    width: 600px;
    height: 350px;
    order: 4;
}

.flexbox-item-5{
    width: 800px;
    height: 350px;
    order: 5;
    overflow-y: auto; /* Show scrollbar when content exceeds height */
}