{% extends 'base.html' %}

{% block head %}

<title>
    LIGYSIS: About
</title>

{% endblock%}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row mb-3">
                <div class="col">
                    <div class="row">
                        <strong>
                            About LIGYSIS
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row">
                        <p class="mb-2">
                            <a href="/">LIGYSIS</a> is a web server for the analysis of ligand binding sites. Ligands bind proteins at multiple
                            locations, or sites. Some of these sites, are well characterised and have been shown to be biologically relevant, i.e.,
                            substrate, cofactor binding sites, or catalytic sites. However, many other sites are not well characterised and their
                            biological relevance is unknown. The server is based on a dataset of &asymp; 29,000 proteins that bind to
                            biologically relevant ligands in accordance with <a href="https://zhanggroup.org/BioLiP/">BioLiP</a>.
                        </p>
                        <p class="mb-2">
                            LIGYSIS groups ligands binding to a protein according to their protein interactions. The sites are then characterised
                            using mainly three features:
                        </p>
                        <div class="col">
                            <ul>
                                <li class="mb-2">
                                    <b><a href="https://en.wikipedia.org/wiki/Relative_accessible_surface_area">Relative solvent accessibility (RSA)</a>.</b> Ranging from 0-100%,
                                    it measures the extent to which a residue is exposed to solvent. The higher the value, the more accessible to solvent the residue is. The analysis of
                                    RSA can provide insight into protein function: enzyme <a href="https://en.wikipedia.org/wiki/Active_site">active sites</a>, <a href="https://en.wikipedia.org/wiki/Protein%E2%80%93protein_interaction">
                                    protein-protein interaction</a> sites, as well as key positions for
                                    the structural integrity of the protein tend to be buried. <a href="https://en.wikipedia.org/wiki/Allosteric_regulation">Allosteric sites</a>, <a href="https://en.wikipedia.org/wiki/Signal_peptide">
                                    signal motifs</a>, or highly dynamic regions, however, tend to be more exposed. Almost always, <span class="key-concept">buried</span> residues are relevant for either
                                    <span class="key-concept">function</span>, or <span class="key-concept">structure</span>.
                                </li>
                                <li class="mb-2">
                                    <b>Evolutionary divergence.</b> The <a href="https://doi.org/10.1002/prot.340110408">Shenkin divergence score</a> is used to measure divergence in a multiple sequence alignment (MSA)
                                    obtained with <a href="http://hmmer.org/">jackHMMER</a> using the target protein sequence as a query. The lower this score, the more conserved a site is.
                                    Low divergence, i.e., <span class="key-concept">strong conservation</span> is usually linked with <span class="key-concept">functional </span>importance.
                                </li>
                                <li class="mb-2">
                                    <b>Enrichment in missense variation.</b> Functionally relevant protein positions tend to be evolutionary constrained and present fewer genetic variants
                                    than average, i.e., are depleted. Making use of the <a href="https://gnomad.broadinstitute.org/">gnomAD</a> database, we calculate a Missense Enrichment Score (MES) indicative of the functional constraint
                                    upon the binding sites, and the residues forming them. MES is an <a href="https://en.wikipedia.org/wiki/Odds_ratio">odds ratio (OR)</a>: the smaller the score, the <span class="key-concept">fewer variants</span>, 
                                    the more constrained, and likely <span class="key-concept">functional</span> the position is.
                                </li>
                            </ul>
                        </div>
                        <p class="mb-2">
                            For more information on how Shenkin, and MES can provide insight on protein function, see references below:
                        </p>
                        <div class="col">
                            <ol class="mb-0">
                                <li class="mb-1">
                                    <a href="https://doi.org/10.1101/127050">MacGowan <em>et al.</em>, 2017.</a></a><a href="https://www.biorxiv.org/"> bioRxiv.</a>
                                </li>
                                <li class="mb-1">
                                    <a href="https://doi.org/10.1002/pro.3783">MacGowan <em>et al.</em>, 2020.</a></a><a href="https://onlinelibrary.wiley.com/"> Wiley Online Library.</a>
                                </li>
                                <li class="mb-1">
                                    <a href="https://doi.org/10.1371/journal.pcbi.1009335">Utgés <em>et al.</em>, 2021.</a><a href="https://journals.plos.org/ploscompbiol/"> PLOS Computational Biology</a>
                                </li>
                                <li class="mb-1">
                                    <a href="https://www.nature.com/articles/s42003-024-06117-5">MacGowan <em>et al.</em>, 2024.</a></a><a href="https://www.nature.com/commsbio/"> Communications Biology.</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="pull-left">
                If you use <b>LIGYSIS</b> web server or the <b>LIGYSIS</b> dataset, please cite the following references:
                <br><br>
                <ul>
                    <li>
                        Utgés <em>et al.</em> Classification of likely functional class for ligand binding sites identified from fragment screening. <em>Commun Biol</em> <b>7</b>, 320 (2024).
                        <a href="https://doi.org/10.1038/s42003-024-05970-8">
                            https://doi.org/10.1038/s42003-024-05970-8
                        </a>
                    </li>
                    <br>
                    <li>
                        Utgés & Barton. Comparative evaluation of methods for the prediction of protein-ligand binding sites, 08 August 2024, PREPRINT (Version 1) available at
                        <a href="https://doi.org/10.21203/rs.3.rs-4849153/v1">
                            Research Square
                        </a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

{% endblock%}