<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="/static/images/LIGYSIS_icon2.png"/>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
        <style>
            .hidden{
                display: none;
            }
        </style>
        {% block head %}
        {% endblock%}
    </head>
    <body>
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light justify-content-center">
                    <a 
                        href="/"
                        class="navbar-brand mb-2">
                        <img
                            src="/static/images/LIGYSIS_logo_v2.png" alt="LIGYSIS logo" height="100"
                            class="d-inline-block align-top"
                        />
                        <span class="hidden">LIGYSIS</span>
                    </a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse"
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>  
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ms-auto text-center">
                            <li>
                                <a class="nav-link purple-link" href="/">Home</a>
                            </li>
                            <li>
                                <a class="nav-link purple-link" href="/about">About</a>
                            </li>
                            <li>
                                <a class="nav-link purple-link" href="/help">Help</a>
                            </li>
                            <li>
                                <a class="nav-link purple-link" href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        
        <main class="d-flex flex-column justify-content-between">
        {% block main %}{% endblock%}
        </main>

        <footer class="container bg-white">
            <hr class="featurette-divider">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-muted">
                            If you use the <b>LIGYSIS</b> web server, please cite:<br>
                            Utgés <i>et al. </i>(2023).
                            <a style="text-decoration: none;" href="https://doi.org/10.21203/rs.3.rs-3185838/v1">
                                Classification of likely functional state for ligand binding sites identified from fragment screening.
                            </a>
                            <a style="text-decoration: none;" href="https://www.researchsquare.com/">
                                Research Square.
                            </a>
                        </p>
                    </div>
                </div>
            </div> -->
            <div id="footer">
                <div class="row justify-content-around align-items-center">
                    <div class="col-md-2 d-flex justify-content-center">
                        <a href="http://www.compbio.dundee.ac.uk/">
                            <img src="/static/images/BG_logo.svg" alt="Barton Group Logo" height="75">
                        </a>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <a href="https://www.dundee.ac.uk/">
                            <img src="/static/images/UoD_logo.svg" alt="University of Dundee Logo" height="80">
                        </a>
                    </div>
                    <div class="col-md-4 text-center">
                        <p class="text-muted" id="copyright">LIGYSIS © 2023
                            <a href="http://www.compbio.dundee.ac.uk/">The Barton Group</a> -
                            <a href="http://www.lifesci.dundee.ac.uk/research/cb">Division of Computational Biology</a>,
                            <a href="http://www.lifesci.dundee.ac.uk/">School of Life Sciences</a>,
                            <a href="http://www.dundee.ac.uk/">University of Dundee</a>, UK
                        </p>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <a href="http://www.eastscotbiodtp.ac.uk/">
                            <img src="/static/images/EASTBIO_logo_nobg.png" alt="ESATBIO logo" height="75">
                        </a>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                        <a href="https://www.ukri.org/councils/bbsrc/">
                            <img src="/static/images/BBSRC_logo.gif" alt="BBSRC Logo" height="75">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html>