<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock%}
</head>
<body>
    {% block body %}{% endblock%}




<p><strong><a href="https://doi.org/10.21203/rs.3.rs-3185838/v1">Classification of likely functional state for ligand binding sites identified from fragment screening</a></strong><br />
    Utgés JS, MacGowan SA, Ives CM &amp; Barton GJ.<br /><em>Research Square</em><br />
    DOI: <a href="https://doi.org/10.21203/rs.3.rs-3185838/v1">10.21203/rs.3.rs-3185838/v1</a></p>
</body>
</html>