{% extends 'base.html' %}

{% block head %}

<title>
    LIGYSIS: Contact
</title>

{% endblock%}

{% block main %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2 class="my-3">Contact</h2>
            <p class="lead text-center my-3" >
                For enquiries about <b>LIGYSIS</b>, please contact us at <a href="mailto:2394007@dundee.ac.uk">2394007@dundee.ac.uk</a>.
                <br>For further help or contact information, please visit our <a href="http://www.compbio.dundee.ac.uk/contact.html">contact page</a>.    
            </p>
            <a href="/" class="btn btn-primary my-3" style="text-decoration: none;">Go Home</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="pull-left">
                There is not yet a publication for the <b>LIGYSIS</b> web server. However,
                this service explores the results obtained with our method, which can be cited:
                <br><br>
                J. S. Utgés, et al. Classification of likely functional state for ligand
                binding sites identified from fragment screening, 24 July 2023, PREPRINT (Version 1), available at
                <a href="https://doi.org/10.21203/rs.3.rs-3185838/v1">
                    Research Square.
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock%}