{% extends 'base.html' %}

{% block head %}

<title>
    LIGYSIS: Contact
</title>

{% endblock%}

{% block main %}

<div class="container text-center">
    <div class="row">
        <div class="col">
            <h2 class="my-3">Contact</h2>
            <p class="lead text-center my-3" >
                For enquiries about <b>LIGYSIS</b>, please contact us at <a href="mailto:2394007@dundee.ac.uk">2394007@dundee.ac.uk</a>.
                <br>For further help or contact information, please visit our <a href="http://www.compbio.dundee.ac.uk/contact.html">contact page</a>.    
            </p>
            <a href="/" class="btn btn-primary my-3" style="text-decoration: none;">Go Home</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="pull-left">
                If you use <b>LIGYSIS</b> web server or the <b>LIGYSIS</b> dataset, please cite the following references:
                <br><br>
                <ul>
                    <li>
                        Utgés, J.S., MacGowan, S.A., Ives, C.M. <em>et al.</em> Classification of likely functional class for ligand binding sites identified from fragment screening. <em>Commun Biol</em> <b>7</b>, 320 (2024).
                        <a href="https://doi.org/10.1038/s42003-024-05970-8">
                            https://doi.org/10.1038/s42003-024-05970-8
                        </a>
                    </li>
                    <br>
                    <li>
                        Utgés, J. S. & Barton, G. J. Comparative evaluation of methods for the prediction of protein-ligand binding sites, 08 August 2024, PREPRINT (Version 1) available at
                        <a href="https://doi.org/10.21203/rs.3.rs-4849153/v1">
                            Research Square
                        </a>
                    </li>
                </ul>
            </p>
        </div>
    </div>
</div>

{% endblock%}