{% extends 'base.html' %}

{% block head %}
<title>LIGYSIS: Contact</title>
{% endblock%}
{% block body %}
<div class="container py-3">
    <div class="text-center">
        <h2>Contact</h2>
        <p class="lead">
            For enquiries about <b>LIGYSIS</b>, please contact us at <a href="mailto:ligysis@compbio.dundee.ac.uk">ligysis@compbio.dundee.ac.uk</a>.
            <br>For further help or contact information, please visit our <a href="http://www.compbio.dundee.ac.uk/contact.html">contact page</a>.    
        </p>
        <a href="/" class="btn btn-primary" style="text-decoration: none;">Go Home</a>
    </div>
</div>
{% endblock%}