{% extends 'base.html' %}

{% block head %}

<title>
    LIGYSIS: Error
</title>

{% endblock%}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col d-flex flex-column align-items-center">
            <div class="row my-2">
                <h1 class="display-1 fw-bold">ERROR</h1>
            </div>
            <div class="row">
                <p class="fs-3 text-center mb-3"> <span class="text-danger">Uh-oh...</span> Page not found.</p>
                <p class="lead text-center mb-3">
                    Your protein of interest is not in our database.
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <a href="/" class="btn btn-primary" style="text-decoration: none;">Go Home</a>
                </div>
            </div> 
        </div>
    </div>

</div>
{% endblock%}