{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<title>LIGYSIS</title>
{% endblock%}

{% block body %}
<h1 style="text-align: center">LIGYSIS WEB SERVER</h1>

<div class="form">
    <form action="/" method="POST">
        <input type="text"  name="content" id="content">
        <input type="submit" value="Visualise protein!">
    </form>
</div>

<footer>
    <div class="footer-container">
        <img src="static/images/BG_logo.svg">
        <img src="static/images/UoD_logo.svg">
        <img src="static/images/EASTBIO_logo.png">
        <img src="static/images/BBSRC_logo.gif">
        
    </div>
</footer>

{% endblock%}