{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js" 
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<title>
    LIGYSIS: Home
</title>


<script>
    const proteinIds = {{ prot_ids | tojson }}
</script>

{% endblock%}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Welcome to <b>LIGYSIS</b>: A Web Server for the analysis of <br>biologically meaningful ligand binding sites in proteins</h2>
            <p class="lead">Use the input field below to select the protein you would like to explore.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="/" method="POST" class="text-center">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="proteinId" class="form-label">
                                UniProt ID
                            </label>
                            <input type="text" class="form-control" name="proteinId" id="autocomplete" placeholder="P78540" aria-describedby="proteinIdHelp">
                            <div id="proteinIdHelp" class="form-text">
                                Enter the UniProt ID of the protein you want to inspect.
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div> 
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="pull-left">
                <i>
                    Notice: <b>LIGYSIS</b> includes information from <b>13,730</b> domains of <b>13,101</b> proteins,
                    <b>58,243</b> 3D structures, <b>244,316</b> ligands, and <b>36,416</b> distinct binding sites.<br><br>
                    
                    
                    Future versions will aim to cover the <b>&asymp;29,000</b> proteins that bind to biologically relevant ligands in accordance with
                    <a href="https://zhanggroup.org/BioLiP/">
                        BioLiP.
                    </a>
                </i>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="pull-left">
                If you use the <b>LIGYSIS</b> web server, please cite:<br>
                Utgés <i>et al. </i>(2023).
                <a style="text-decoration: none;" href="https://doi.org/10.21203/rs.3.rs-3185838/v1">
                    Classification of likely functional state for ligand binding sites identified from fragment screening.
                </a>
                <a style="text-decoration: none;" href="https://www.researchsquare.com/">
                    Research Square.
                </a>
            </p>
        </div>
    </div>
</div>

<script src="/static/js/input_autocomplete.js"></script>

{% endblock%}