{% extends 'base.html' %}

{% block head %}
<title>LIGYSIS</title>

<script src="/static/js/jmol/jsmol/JSmol.min.js"></script>
<script src="/static/js/jmol/jsmol/js/Jmol2.js"></script>
<script>jmolInitialize("/static/js/jmol/jsmol");</script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<link rel="stylesheet" href="/static/css/styles.css">
{% endblock%}

{% block body %}
<h1 style="text-align: center">LIGYSIS WEB SERVER</h1>


<!--
<script>
jmolApplet(800, "script /static/scripts/load.txt", "0");




</script>

<script>
    jmolScript()
</script>

<script language="JavaScript" type="text/javascript">
jmolRadio('restrict protein; cartoons; color structure;', "", false );
</script>
-->

<div>
    <table class="sortable hoverTable">
        <thead>
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr class="table__row" style="color: {{ colors[loop.index0] }}" id="BS{{ loop.index0 }}">
                {% for cell in row %} 
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div>
    <label for="xAxisTitle">Select X Axis:</label>
    <select id="xAxisTitle">
        <option value="none" selected disabled hidden>Select an Option</option>
        {% for header in headings[1:] %}
        <option value="{{ header }}">{{ header }}</option>
        {% endfor %}
    </select>
</div>

<div>
    <label for="yAxisTitle">Select Y Axis:</label>
    <select id="yAxisTitle">
        <option value="none" selected disabled hidden>Select an Option</option>
        {% for header in headings[1:] %}
        <option value="{{ header }}">{{ header }}</option>
        {% endfor %}
    </select>
</div>


<div>
    <canvas id="chartCanvas" width="600" height="400"></canvas>
    <script>
        const ctx = document.getElementById("chartCanvas").getContext("2d")
        const scatterPlot = new Chart(ctx, {
            type: "scatter",
            data: {
                labels: {{ bss_prot.an_shenk.tolist() | safe }},
                datasets: [
                    {
                        label: "Data points",
                        radius: 12,
                        data: {{ bss_prot.MES.tolist() | safe }},
                        backgroundColor: {{ colors | safe }},
                        borderColor: "black",
                        borderWidth: 1,
                        lineTension: 0.1
                    }
                ]
            },
            options: {
                responsive: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            align: "center",
                            text: "Nshenkin",
                        },
                        suggestedMin: 0,
                        suggestedMax: 100,
                    },
                    y: {
                        title: {
                            display: true,
                            align: "center",
                            text: "MES",
                        },
                        type:"logarithmic",
                        suggestedMin: 0.2,
                        suggestedMax: 5,
                    }
                }
            }
        });
    </script>
    <!-- <script src="bss_scatter.js"></script> -->
</div>


{% endblock%}