{% extends 'base.html' %}

{% block head %}

<title>LIGYSIS results</title>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/event_functions.js"></script>

<script src="https://3Dmol.org/build/3Dmol-min.js"></script>     
<script src="https://3Dmol.org/build/3Dmol.ui-min.js"></script> 


<script> // some variable definitions from the server
    const chartData = {{ data | tojson }}
    const chartColors = {{ colors | tojson }}
    const cc = {{ cc_new | tojson }}
    const seg_ress_dict = {{ seg_ress_dict | tojson }}
    const proteinId = {{ prot_id | tojson }}
    const segmentId = {{ seg_id | tojson }}
    const segmentName = proteinId + "_" + segmentId
    const segmentReps = {{ segment_reps | tojson }}
    let newChartData = {{ first_site_data | tojson }}
    let headings = {{ headings | tojson }}
    let segStats = {{ seg_stats | tojson  }}
    let repStruc = segmentReps[segmentId]["rep"]
    let [repPdbId, repPdbChainId] = repStruc.split("_");

    // console.log(segStats)

    const Pdb2UpDict = {{ pdb2up_dict | tojson   }}
    const Up2PdbDict = {{ up2pdb_dict  | tojson  }}

    let surfaceVisible = false;
    let labelsVisible = false;
    let sitePointClicked = false;
    let siteRowClicked = false;
    let wholeSurf;
    let surfsDict = {};
</script>

{% endblock %}

{% block main %}

<div class="container-fluid">
    <div class="row mb-1 align-items-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-2 d-flex flex-column align-items-center align-items-md-start">
            <a href="https://www.uniprot.org/uniprotkb/{{ prot_id }}/entry">
                <h1 class="mb-3 mb-md-0">
                    {{ prot_id }}&nbsp;
                </h1>
            </a>
        </div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 d-flex flex-column align-items-center align-items-md-start">
            <h2  class="mb-3 my-md-0">
                &nbsp;Lipoprotein
            </h2>
        </div>
        <div class="col-xl-4 d-flex flex-column align-items-center align-items-md-start">
            <h4 class="mb-3 mb-md-0">
                ({{ seg_stats[prot_id][seg_id]["strucs"]}} Structures,&nbsp;&nbsp;
                {{ seg_stats[prot_id][seg_id]["ligs"]}} Ligands,&nbsp;&nbsp;
                {{ seg_stats[prot_id][seg_id]["bss"]}} Binding Sites)
            </h4>
        </div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 d-flex flex-column align-items-center align-items-md-end">
            <select id="selectSegment" class="form-select" aria-label="Selecting structural segment">
                <option selected>Segment {{ seg_id }} ({{ segment_reps[seg_id | int]["start"] }} - {{ segment_reps[seg_id | int]["end"] }})</option>
                {% for key, value in segment_reps.items() if key != seg_id | int %}
                    <option value="/results/{{ prot_id }}/{{ key }}">Segment {{ key}} ({{ value["start"] }} - {{ value["end"] }})</option>
                {% endfor %}
            </select>
        </div>
        
    </div>
    <div class="row justify-content-around">
        <div id="3DMolAppletHolder" class="col-lg-4 col-sm-12 d-flex flex-column align-items-center justify-content-center align-self-start rounded-border">
            <div class="row my-3 custom-padding align-self-center">
                <h5>
                    Structure panel&nbsp;
                    <a href="/help#structurePanelHelp">
                        <i class="bi bi-info-circle" style="color: black;"></i>
                    </a>
                </h5>
            </div>
            <div class="row mb-3 custom-padding">
                <div style="border: 2px solid black;" class="d-flex px-0">
                    <div id="container-01" style="height: 598px; width: 598px;" class="applet-border d-flex">
                        <script src="/static/js/3DMol_applet.js"></script>
                    </div>
                </div>
            </div>
            <div class="row mb-3 justify-content-between custom-padding">
                <div class="col-6 col-md-3 col-lg-6 col-xl-3 d-flex justify-content-center mb-2 mb-md-0 mb-lg-2 mb-xl-0">
                    <input id="surfButton" type="button" value="Surface OFF" style="font-weight: bold; color: #674ea7;"
                    onclick="toggleSurfaceVisibility()"></input>
                </div>
                <div class="col-6 col-md-3 col-lg-6 col-xl-3 d-flex justify-content-center mb-2 mb-md-0 mb-lg-2 mb-xl-0">
                    <input id="labelButton" type="button" value="Labels OFF" style="font-weight: bold; color: #674ea7;"
                    onclick="toggleLabelsVisibility()"></input>
                </div>
                <div class="col-6 col-md-3 col-lg-6 col-xl-3 d-flex justify-content-center">
                    <input id="saveImageButton" type="button" value="Save Image" style="color: black;"
                    onclick="saveImage('3DmolCanvas', `${segmentName}_struc`)"></input>
                </div>
                <div class="col-6 col-md-3 col-lg-6 col-xl-3 d-flex justify-content-center">
                    <input id="saveStrucButton" type="button" value="Save Structure" style="color: black;"
                    onclick="downloadFile(`/static/data/biolip/split/structures/pdb/${segmentReps[segmentId]['rep']}.pdb`)"></input>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-12 mb-3 d-flex flex-column rounded-border">
            <div class="row my-3 custom-padding align-self-center">
                <h5>
                    Binding sites panel&nbsp;
                    <a href="/help#sitePanelHelp">
                        <i class="bi bi-info-circle" style="color: black;"></i>
                    </a>
                </h5>
            </div>
            <div class="row mb-2 justify-content-center custom-padding">
                <canvas id="chartCanvas" width="300" height="300"></canvas>
            </div>
            <div class="row mb-3 justify-content-around custom-padding">
                <div class="col-6 col-sm-4 col-lg-8 col-xl-4 mb-2 d-flex justify-content-center align-items-center">
                    <span style="font-weight: 500; font-size: 1.25rem;">Y</span>:&nbsp;
                    <select id="yAxisTitle">
                        {% for header in headings[1:] %}
                        <option value="{{ header }}">{{ header }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 col-sm-4 col-lg-8 col-xl-4 mb-2 d-flex justify-content-center align-items-center">
                    <span style="font-weight: 500; font-size: 1.25rem;">X</span>:&nbsp;
                    <select id="xAxisTitle">
                        {% for header in headings[1:] %}
                        <option value="{{ header }}">{{ header }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6 col-sm-4 col-lg-8 col-xl-4 d-flex justify-content-center">
                    <input id="saveImageButton" type="button" value="Save Image" style="color: black;"
                    onclick="saveImage('chartCanvas', `${segmentName}_sites_graph`)"></input>
                </div>
            </div>
            <div class="row mb-0 justify-content-center custom-padding">
                <div class="table-responsive px-0 uniwidthsans">
                    <table class="table table-bordered sortable"id="bss_table">
                        <thead>
                            <tr class="table__header">
                                {% for header in headings %}
                                <th>
                                    <span data-toggle="tooltip" title= "{{ bs_table_tooltips[loop.index0] }}">{{ header }}</span>
                                    <!-- <a href="/help#{{ header }}SiteHelp" data-toggle="tooltip" title= "{{ bs_table_tooltips[loop.index0] }}">
                                        <i class="bi bi-info-circle" style="color: black;"></i>
                                    </a> -->
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(data["ID"]|length) %}
                            <tr class="custom-row" style="color: {{ colors[loop.index0] }} !important;" id="{{ data['ID'][loop.index0] }}">
                                    {% for k in data.keys() %}
                                        <td class="table__cell">{{ data[k][i] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mb-3 justify-content-center custom-padding">
                <div class="col-3 col-md-1 col-lg-3 col-xl-1 d-flex justify-content-center align-items-center">
                    <i
                    class="bi bi-download"
                    style="color: black; cursor: pointer; font-size: 1.5rem;"
                    onclick="downloadFile(`/static/data/biolip/split/site_tables/${proteinId}_bss.pkl`)"
                    ></i>
                </div>
                <div class="col-9 col-md-5 col-lg-9 col-xl-5 d-flex justify-content-start align-items-center">
                    Download table.
                </div>
                <div class="col-3 col-md-1 col-lg-3 col-xl-1 d-flex justify-content-center align-items-center">
                    <a href="/help#{{ header }}SiteHelp">
                        <i class="bi bi-info-circle" style="color: black; font-size: 1.5rem;"></i>
                    </a>
                </div>
                <div class="col-9 col-md-5 col-lg-9 col-xl-5 d-flex justify-content-start align-items-center">
                    Information about the columns.
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-column rounded-border">
            <div class="row my-3 align-self-center">
                <h5>
                    Binding residues panel&nbsp;
                    <a href="/help#siteResiduesPanelHelp">
                        <i class="bi bi-info-circle" style="color: black;"></i>
                    </a>
                </h5>
            </div>
            <div class="row mb-2 justify-content-center custom-padding">
                <canvas id="newChartCanvas" width="650" height="320"></canvas>
            </div>
            <div class="row mb-3 justify-content-around custom-padding">
                <div class="col-sm-4 col-lg-8 col-xl-4 mb-2 d-flex justify-content-center align-items-center">
                    <span style="font-weight: 500; font-size: 1.25rem;">Y</span>:&nbsp;
                    <select id="yAxisTitle2" class="axis-dropdown2 y-axis-dropdown2">
                        <option selected hidden>MES</option>
                        {% for header in cc_new[1:] %}
                        <option value="{{ header }}">{{ header }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-sm-4 col-lg-8 col-xl-4 mb-2 d-flex justify-content-center align-items-center">
                    <span style="font-weight: 500; font-size: 1.25rem;">X</span>:&nbsp;
                    <select id="xAxisTitle2" class="axis-dropdown2 x-axis-dropdown2">
                        <option selected hidden>DS</option>
                        {% for header in cc_new[1:] %}
                        <option value="{{ header }}">{{ header }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-sm-4 col-lg-8 col-xl-4 mb-2 d-flex justify-content-center align-items-center">
                    <!-- <i
                    class="bi bi-download"
                    style="color: black; cursor: pointer; font-size: 1.5rem;"
                    onclick="saveImage('newChartCanvas', `${segmentName}_residues_graph`)"
                    ></i> -->
                    <input
                    id="saveImageButton"
                    type="button" value="Save Image"
                    style="color: black;"
                    onclick="saveImage('newChartCanvas', `${segmentName}_residues_graph`)"
                    ></input>
                </div>
                
            </div>
            <div class="row mb-1 justify-content-center custom-padding">
                <div class="table-responsive px-0 uniwidthsans">
                    <table class="table table-bordered table-hover sortable" id="bs_ress_table">
                        <thead class="sticky-header">
                            <tr class="table__header">
                                {% for header in cc_new %}
                                <th class="table__cell">
                                    <span data-toggle="tooltip" title= "{{ bs_ress_table_tooltips[loop.index0] }}">{{ header }}</span><br>
                                </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody> 
                            {% for i in range(first_site_data["UPResNum"]|length) %}
                            <tr class="custom-row" style="color: {{ colors[0] }} !important;" id="{{ first_site_data['UPResNum'][i] }}">
                                    {% for k in first_site_data.keys() %}
                                        <td class="table__cell">{{ first_site_data[k][i] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mb-3 justify-content-center custom-padding">
                <div class="col-3 col-md-1 col-lg-3 col-xl-1 d-flex justify-content-center align-items-center">
                    <i
                    class="bi bi-download"
                    style="color: black; cursor: pointer; font-size: 1.5rem;"
                    onclick="downloadFile(`/static/data/biolip/split/res_tables/${segmentName}_ress.pkl`)"
                    ></i>
                </div>
                <div class="col-9 col-md-5 col-lg-9 col-xl-5 d-flex justify-content-start align-items-center">
                    Download table.
                </div>
                <div class="col-3 col-md-1 col-lg-3 col-xl-1 d-flex justify-content-center align-items-center">
                    <a href="/help#{{ header }}siteResiduesPanelHelp">
                        <i class="bi bi-info-circle" style="color: black; font-size: 1.5rem;"></i>
                    </a>
                </div>
                <div class="col-9 col-md-5 col-lg-9 col-xl-5 d-flex justify-content-start align-items-center">
                    Information about the columns.
                </div>
            </div>
        </div>
    </div>

<script src="/static/js/charts.js"></script>
<script src="/static/js/table_listeners.js"></script>
<script src="/static/js/chart_listeners.js"></script>
<script src="/static/js/change_segment.js"></script>
<script src="/static/js/3DMol_resize.js"></script>
<script src="/static/js/3DMol_add_surfs.js"></script>
<script src="/static/js/3DMol_toggle_surfs.js"></script>

{% endblock%}