{% extends 'base.html' %}

{% block head %}

<title>LIGYSIS results</title>

<script src="/static/js/jmol/jsmol/JSmol.min.js"></script>
<script src="/static/js/jmol/jsmol/js/Jmol2.js"></script>
<script>jmolInitialize("/static/js/jmol/jsmol");</script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<link rel="stylesheet" href="/static/css/styles.css">

{% endblock %}

{% block body %}
<h1 style="text-align: center">LIGYSIS WEB SERVER</h1>

<!-- <script>
jmolApplet(800, "script /static/scripts/load.txt", "0");
</script> -->

<div>
    <table class="sortable hoverTable">
        <thead>
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(data["lab"]|length) %}
                <tr class="table__row" style="color: {{ colors[loop.index0] }}" id="{{ data['lab'][loop.index0] }}">
                    {% for k in data.keys() %}
                        <td class="table__cell">{{ data[k][i] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div id="chart-container" style="position: relative;">
    <canvas id="chartCanvas" width="600" height="400"></canvas>
    <select id="xAxisTitle" class="axis-dropdown x-axis-dropdown">
        {% for header in headings[1:] %}
        <option value="{{ header }}">{{ header }}</option>
        {% endfor %}
    </select>
    <select id="yAxisTitle" class="axis-dropdown y-axis-dropdown">
        {% for header in headings[1:] %}
        <option value="{{ header }}">{{ header }}</option>
        {% endfor %}
    </select>

    <script> // some variable definitions
        const chartX = "an_shenk"
        const chartY = "MES"
        const chartLab = "lab"
        const chartData = {{ data | tojson }}
        const chartColors = {{ colors | tojson }}

        const newChartX = "abs_norm_shenkin"
        const newChartY = "oddsratio"
        const newChartLab = "UniProt_ResNum"
        const cc = {{ cc | tojson }}

    </script>

    <canvas id="newChartCanvas" width="400" height="400"></canvas>

    <select id="xAxisTitle2" class="axis-dropdown2 x-axis-dropdown2">
        {% for header in cc[1:] %}
        <option value="{{ header }}">{{ header }}</option>
        {% endfor %}
    </select>
    <select id="yAxisTitle2" class="axis-dropdown2 y-axis-dropdown2">
        {% for header in cc[1:] %}
        <option value="{{ header }}">{{ header }}</option>
        {% endfor %}
    </select>


    <script src="/static/js/binding_sites_chart.js"></script>

</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div>
    <table class="sortable hoverTable" id="bs_ress_table">
        <thead>
            <tr class="table__header">
                {% for header in cc %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(data2["UniProt_ResNum"]|length) %}
                <tr class="table__row" id="{{ data2['UniProt_ResNum'][i] }}">
                    {% for k in data2.keys() %}
                        <td class="table__cell">{{ data2[k][i] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock%}